.nav-menu-wrapper {
    position: relative;
    z-index: 99;
    margin-bottom: -30px;
    width: 100%;
}

.nav-menu-wrapper .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
}

.nav-menu-inner {
    width: fit-content;
    max-width: 85%;
    height: 60px;
    background: #87CEEB;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    padding: 0 45px;
    position: relative;
    z-index: 1;
}

/* Left Cut */
.nav-menu-inner::before {
    content: "";
    position: absolute;
    left: -22px;
    top: 0;
    width: 50px;
    height: 100%;
    background: #87CEEB;
    transform: skewx(16deg);
    z-index: -1;
}

.menu {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

.menu li {
    list-style: none;
    flex-shrink: 0;
    white-space: nowrap;
}

.menu a,
.menu li a {
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block;
    transition: .3s;
    line-height: 1;
}

.menu a:hover,
.menu .active-link {
    border-bottom: 3px solid #fff;
    padding-bottom: 6px;
}

.mobile-btn {
    display: none;
}

/* Medium Desktop / Laptops (993px - 1280px) */
@media (max-width: 1280px) {
    .nav-menu-inner {
        width: fit-content;
        min-width: 500px;
        padding: 0 28px;
        margin-right: 20px;
    }

    .menu {
        gap: 22px;
    }

    .menu a,
    .menu li a {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .nav-menu-inner {
        width: fit-content;
        min-width: 450px;
        padding: 0 20px;
        margin-right: 15px;
    }

    .menu {
        gap: 16px;
    }

    .menu a,
    .menu li a {
        font-size: 14px;
    }
}

/* Tablet + Mobile */
@media (max-width: 992px) {
    .nav-menu-wrapper {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .nav-menu-wrapper {
        display: none !important;
    }
}