.pricing-section {
    padding: 90px 0 10;
    background: #fff;
}

.pricing-container {
    width: 90%;
    max-width: 1320px;
    margin: auto;
}

/* Heading */

.pricing-heading {
    text-align: center;
    margin-bottom: 70px;
}

.pricing-heading h4 {
    color: #87CEEB;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -80px;
    letter-spacing: 0.7px;
}

.pricing-heading h2 {
    font-size: 42px;
    font-weight: 700;
    color: #222;
    margin: 12px 0;
    margin-bottom: 20px;
}

.pricing-heading p {
    font-size: 17px;
    color: #666;
}

/* Grid */

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 45px;
}

/* Card */

.pricing-card {
    text-align: left;
}

/* Image */

.pricing-image {
    text-align: center;
    margin-bottom: 20px;
}

.pricing-img {
    width: 100%;
    max-width: 340px;
    height: 250px;
    object-fit: contain;
    transition: .35s;
}

.pricing-card:hover .pricing-img {
    transform: translateY(-8px) scale(1.03);
}

/* Text */

.pricing-body h3 {
    font-size: 22px;
    color: #222;
    font-weight: 700;
    margin-bottom: 12px;
}

.price {
    color: #666;
    font-size: 18px;
    margin-bottom: 15px;
}

.price span {
    font-size: 16px;
}

.pricing-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing-body li {
    margin-bottom: 8px;
    color: #666;
    font-size: 18px;
}



/* Responsive */

@media(max-width:992px) {

    .pricing-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing-card:last-child {
        grid-column: auto;
    }

}

@media(max-width:768px) {

    .pricing-grid {
        grid-template-columns: 1fr;
    }

}