.franchise-benefits {
    padding: 100px 0;
    background: #fff;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

/* Container */

.franchise-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

/* Layout */

.franchise-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* LEFT */

.franchise-left {
    flex: 0 0 46%;
}

.franchise-image {
    position: relative;

}

.franchise-image::before {
    content: "";
    position: absolute;
    width: 270px;
    height: 300px;
    background: #87CEEB;
    top: -85px;
    left: -30px;
    z-index: 0;
}

.franchise-image img {
    width: 110%;
    max-width: none;
    display: block;
    border-radius: 30px;
    position: relative;
    margin-left: -70px;
    margin-top: 40px;
    z-index: 2;
}

/* RIGHT */

.franchise-right {
    flex: 0 0 54%;

}

.franchise-heading h2 {
    font-size: 42px;
    font-weight: 600;
    color: #222;
    line-height: 1.15;
    margin-bottom: 10px;
}

.franchise-heading h4 {
    color: #87CEEB;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 18px;
}

.franchise-heading ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.franchise-heading ul li {
    color: #666;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

/* =====================================
   TABLET
===================================== */

@media (min-width:769px) and (max-width:992px) {

    .franchise-wrapper {
        flex-direction: column;
    }

    .franchise-left,
    .franchise-right {
        width: 100%;
        flex: 0 0 100%;
    }

    .franchise-image {
        margin: 30px 30px 20px;
        /* Left & Right same */
    }

    .franchise-image::before {
        width: 240px;
        height: 240px;
        left: 40px;
        top: -40px;
    }

    .franchise-image img {
        width: 95%;
        margin: auto;
        display: block;
    }

    .franchise-heading h2 {
        font-size: 34px;
    }

}

/* =====================================
   MOBILE
===================================== */

@media (max-width:768px) {

    .franchise-wrapper {
        flex-direction: column;
    }

    .franchise-left,
    .franchise-right {
        width: 100%;
    }

    .franchise-image {
        margin: 25px 20px 35px;
        /* Equal left-right spacing */
    }

    .franchise-image::before {
        width: 240px;
        height: 240px;
        left: 40px;
        top: -40px;
    }

    .franchise-image img {
        width: 97%;
        margin: auto;
        display: block;
    }

    .franchise-heading h2 {
        font-size: 30px;
        /* 4px smaller */
    }

    .franchise-heading p {
        font-size: 16px;
        line-height: 28px;
    }

}